#title {
	font-family: Palatino, Arial;
	font-size: 3em;
	text-align: center;
}

#game-area {
	display: grid;
	width: 300px;
	margin: auto;
	grid-template-rows: repeat(20,29px);
	grid-template-columns: repeat(10,29px);
	background-color: black;
	grid-gap: 1px;
}