body {
	background-image: url("../assets/star_bg.gif");
}

#title {
	font-family: Palatino, Arial;
	color: white;
	background-color: black;
	font-size: 3em;
	text-align: center;
}

#game-area {
	display: grid;
	width: 300px;
	margin: auto;
	grid-template-rows: repeat(20,29px);
	grid-template-columns: repeat(10,29px);
	grid-gap: 1px;
	background-color: black;
	border: solid 10px white;
}

#stopBtn {
	display: none;
}

button {
	height: 40px;
	width: 100px;
	font-size: 22px;
}

.buttons {
	padding-top: 20px;
	width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}